.btn {
    padding: 1rem;
    color: rgba(0,0,0,.87);
    background-color: #fff;
    font-size: 1.4rem;
    border-radius: .5rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &-red {
        background: #FF6363;
        color: #fff;
    }
}